# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#assets
website/src/assets
website/.env

# dependencies
node_modules
.pnp
.pnp.js

# testing
website/coverage

# production
website/build

# misc
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

website/.vercel
onchain/target
server
server.txt

