.BattleTeamSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em
}

.BattleTeamSelectionAndPlayButtonContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  border: 0.2em solid rgb(146, 113, 47);
  background-color: rgb(102, 80, 54);
  border-radius: 0.6em;
  padding-top: 5em;
  padding-bottom: 2em;
  color: rgb(216, 214, 197);

}
.BattleTeamSelectionTeamsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.BattleTeamSelectionVersusText {
  font-size: 2em;
  font-weight: bold;
}

.BattleTeamSelectionMiniaturesAndTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.BattleTeamSelectionTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.BattleTeamSelectionHeroesMiniatures, .BattleTeamSelectionEnemiesMiniatures {
  display: flex;
  flex-direction: row ;
  width: 370px;
  height: 90px;
  background-color: rgb(0, 0, 0);
  gap: 3px;
  border: 2px solid rgb(146, 113, 47);
}

.HeroMiniatureWrapper {
  cursor: pointer;
}

.BattleTeamSelectionPlayButton {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 0.8em;
  /* border: 2px solid rgb(146, 113, 47); */
  border-radius: 0.3em;
  padding : 0.5em;
  background-color: rgb(170, 130, 51);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.BattleTeamSelectionPlayButton:hover{
  background-color: rgb(209, 152, 37);
}

.BattleTeamSelectionEnergyCostValueIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BattleTeamSelectionEnergyCostIcon {
  /* width: 2em; */
  height: 1.5em;
}

