.HeroPanelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.HeroPanelArrowBackContainer {
  position: absolute;
}

.HeroPanelMenuRunesStatsContainer {
  padding-top: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.1rem;
}

.HeroPanelMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 9rem;
  font-size: 2rem;
}

.HeroNameLevelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.HeroPanelMenuButton {
  cursor: pointer;
}

.RunesAndStatsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 60%;
}
