.HeroMiniatureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}


/* .HeroMiniatureLevel { */
  /* position: absolute; */
  /* bold */
  /* font-weight: 700; */
/* } */