.LootPanelContainer {
  font-size: 1.9rem;
}
.LootCrystalsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0.25rem solid rgb(51, 95, 160);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.LootCrystalsValue {
  position: absolute;
  bottom: 1.5rem;
}

.LootCrystalIcon {
  width: 6.3rem;
}