.LootItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.LootItemNameAndQuatity {
  display: flex;
  gap: 0.8rem;
}

.LootItemImage {
  width: 5rem;
  height: 10rem;
}

.LootItemMintButton {
  padding: 0.6rem;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 0.4rem;
  background-color: rgb(187, 148, 39);
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}