.RunesDisplayContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.RuneTypeContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.RunePlaceholderContainer {
  cursor: pointer;
}