.RunePanelContainer {
  width: 100%;
}
.RuneDetailsAndListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.RuneDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40rem;
  height: 11.5rem;
  gap: 6rem;
}


.RuneEquippedWrapper, .RuneSelectedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.RunesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}