.RunePanelContainer {
  width: 100%;
}
.RuneDetailsAndListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 7rem;
}

.RuneDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 15rem;
  /* gap: 5rem; */
  /* height: 11.5rem; */
  /* gap: 5rem; */
}

.RuneEquippedWrapper, .RuneSelectedWrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.RuneEquippedWrapper, .RuneSelectedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
}

.RunesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}