.StatsDisplayContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HeroStat {
  display: flex;
  flex-direction: row;
}

.HeroStatName {
  width: 35%;
}
/* .HeroStatValue {
  width: 25%;
} */

.HeroStatDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 0.5em; */
  width: 75%;
}

.HeroBaseStatAndBonusSum {
  display: flex;
}