.SummonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.SummonImageAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.summonResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.summonResultName {
  font-family: RetroGaming;
}

.SummonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1rem;
  width: 14rem;
  border: 0.1rem;
  border-radius: 0.5rem;
  background-color: rgb(94, 45, 104);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.SummonImage {
  height: 24rem;
}