.WorldsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.worldOverviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid rgb(146, 113, 47);
  background-color: rgb(102, 80, 54);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50rem;
  height: 4rem;
  cursor: pointer;
}