/* img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
} */

.GamePhaserContainer {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;


  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  /* font-weight: 520; */
}

.GamePageContainer {
  color: white;
  height: 100%;
}

.GamePageTitleAndMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  
  /* height: 100%; */
  /* gap: 1em; */
}

.GamePageTitle {
  height: 30rem;
}

.GamePageMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14rem;
}

.GamePageMenuButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.GamePageMenuButton {
  cursor: pointer;
}

.GamePageMenuButtonIcon {
  image-rendering: pixelated;
  height: 13rem;
}

.ArrowBack {
  cursor: pointer;
  height: 5rem;
}
