.BattleContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* 
.GameContainer {
  padding-top: 10%;
  text-align: center;
} */

.GamePanelAndNavbarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.GamePanelContainer {
  flex-grow: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/backgrounds/battlePage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.GameButton {
  padding: 1rem;
  border: 0.2em solid rgb(11, 83, 151);
  border-radius: 1rem;
  background-color: #5291da;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
