.BattlesSelectContainer {
  /* height: 99vh; */
}

.BattlesSelectListContainer {
  padding-top: 10vh;
  /* padding-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BattlesSelectList{
  display: block;
  max-height: 81vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.BattlesSelectList::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, and Opera */
}

.BattleOverviewContainer {
  width: 80rem;
}