.BattlesSelectContainer {
  /* height: 99vh; */
}

.BattlesSelectListContainer {
  padding-top: 10vh;
  /* padding-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.BattlesSelectList{
  display: block;
  max-height: 81vh;
  overflow-y: scroll;
}

.BattleOverviewContainer {
  width: 80rem;
}