.PvpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    width: 100%;
    padding-bottom: 3rem;
}

.LeaderboardAndBattleHistoryButtonContainer {
  font-size: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  border: 0.2rem solid rgb(146, 113, 47);
  border-top: none;
  background-color: rgb(102, 80, 54);
}

.PvpSearchBattleButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.PvpSearchBattleButton {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.2rem solid rgb(146, 113, 47);
  border-radius: 1rem;
  background-color: rgb(184, 142, 60);
  cursor: pointer;
}

.PvpRankAndDefenseContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 3.5rem;
  border: 0.2rem solid rgb(146, 113, 47);
  background-color: rgb(102, 80, 54);
  padding-top: 2rem;
  padding-bottom: 4rem;
  width: 80%;
  text-align: center;
  justify-content: center;

}

.MyDefenseContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.MyDefenseButton {
  font-size: 2.3rem;
  font-weight: bold;
  padding: 1rem;
  border: 0.2rem solid rgb(146, 113, 47);
  border-radius: 1rem;
  background-color: rgb(184, 142, 60);
  cursor: pointer;
}

.BattleHistoryButton, .LeaderboardButton {
  width: 50%;
  font-size: 2.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 0.2rem solid rgb(146, 113, 47);
  background-color: rgb(102, 80, 54);
  cursor: pointer;
}

.LeaderboardButton:hover, .BattleHistoryButton:hover {
  background-color: rgb(184, 142, 60);
}
