.SummonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.SummonImageAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.SummonChestsImageAndCount {
  position: relative;
}
.SummonChestsCount {
  font-family: RetroGaming;
  font-size: 5.5rem;
  position: absolute;
  right: 0;
  top: 52%;
}
.summonResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.summonResultName {
  font-family: RetroGaming;
  font-size: 2.5rem;
}

.SummonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1rem;
  width: 19rem;
  border: 0.1rem;
  border-radius: 0.5rem;
  background-color: rgb(94, 45, 104);
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.SummonImage {
  height: 30rem;
}